In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn import linear_model
import statsmodels.api as sm

In [3]:
df=pd.read_csv('Datasource/Compiled_COVID-19_Case_Details_(Canada).csv')
df.head()

,ObjectId,row_id,date_reported,health_region,age_group,gender,exposure,case_status,province
0,1,500,2020/03/23 12:00:00+00,Peel Public Health,20-29,Female,Close Contact,Recovered,Ontario
1,2,501,2020/04/02 12:00:00+00,Peel Public Health,40-49,Female,Close Contact,Recovered,Ontario
2,3,502,2020/03/25 12:00:00+00,"Kingston, Frontenac and Lennox & Addington Pub...",30-39,Male,Close Contact,Recovered,Ontario
3,4,503,2020/03/28 12:00:00+00,"Kingston, Frontenac and Lennox & Addington Pub...",<20,Female,Close Contact,Recovered,Ontario
4,5,504,2020/03/30 12:00:00+00,Peel Public Health,50-59,Male,Close Contact,Recovered,Ontario

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   ObjectId       1048575 non-null  int64
 1   row_id         1048575 non-null  int64
 2   date_reported  1048575 non-null  object
 3   health_region  1048575 non-null  object
 4   age_group      1048575 non-null  object
 5   gender         1048575 non-null  object
 6   exposure       1048575 non-null  object
 7   case_status    1048575 non-null  object
 8   province       1048575 non-null  object
dtypes: int64(2), object(7)
memory usage: 72.0+ MB

In [5]:
df.isnull().sum()

ObjectId         0
row_id           0
date_reported    0
health_region    0
age_group        0
gender           0
exposure         0
case_status      0
province         0
dtype: int64

In [15]:
df[df.duplicated(keep='first')]

Empty DataFrame
Columns: [ObjectId, RowId, DateReported, HealthRegion, AgeGroup, Gender, Exposure, CaseStatus, Province]
Index: []

In [6]:
df['date_reported'] =  pd.to_datetime(df['date_reported'], format='%Y/%m/%d %H:%M:%S')
df['date_reported']

0         2020-03-23 12:00:00+00:00
1         2020-04-02 12:00:00+00:00
2         2020-03-25 12:00:00+00:00
3         2020-03-28 12:00:00+00:00
4         2020-03-30 12:00:00+00:00
                     ...
1048570   2020-11-29 12:00:00+00:00
1048571   2020-11-30 12:00:00+00:00
1048572   2020-11-29 12:00:00+00:00
1048573   2020-11-30 12:00:00+00:00
1048574   2020-11-29 12:00:00+00:00
Name: date_reported, Length: 1048575, dtype: datetime64[ns, UTC]

In [7]:
df['gender'].value_counts()

Male            455828
Female          446134
Not Reported    146613
Name: gender, dtype: int64

In [8]:
df['gender']=df['gender'].str.lower()

In [11]:
df['age_group'].value_counts()

20-29           186800
<20             161163
Not Reported    157003
30-39           156959
40-49           134048
50-59           120792
60-69            74487
70-79            36273
80+              21050
Name: age_group, dtype: int64

In [12]:
df.columns

Index(['ObjectId', 'row_id', 'date_reported', 'health_region', 'age_group',
       'gender', 'exposure', 'case_status', 'province'],
      dtype='object')

In [14]:
df.columns=['ObjectId', 'RowId', 'DateReported', 'HealthRegion', 'AgeGroup',
       'Gender', 'Exposure', 'CaseStatus', 'Province']
df.to_csv('CompileCovid19CaseDetailsCanada.csv',index=False,sep=';',date_format = '%Y/%m/%d %H:%M:%S')