In [41]:
import pandas as pd
from datetime import datetime

In [42]:
df=pd.read_csv('Datasource/Compiled_COVID-19_Case_Details_(Canada).csv')
df.head()

,ObjectId,row_id,date_reported,health_region,age_group,gender,exposure,case_status,province
0,1,500,2020/03/23 12:00:00+00,Peel Public Health,20-29,Female,Close Contact,Recovered,Ontario
1,2,501,2020/04/02 12:00:00+00,Peel Public Health,40-49,Female,Close Contact,Recovered,Ontario
2,3,502,2020/03/25 12:00:00+00,"Kingston, Frontenac and Lennox & Addington Pub...",30-39,Male,Close Contact,Recovered,Ontario
3,4,503,2020/03/28 12:00:00+00,"Kingston, Frontenac and Lennox & Addington Pub...",<20,Female,Close Contact,Recovered,Ontario
4,5,504,2020/03/30 12:00:00+00,Peel Public Health,50-59,Male,Close Contact,Recovered,Ontario

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   ObjectId       1048575 non-null  int64
 1   row_id         1048575 non-null  int64
 2   date_reported  1048575 non-null  object
 3   health_region  1048575 non-null  object
 4   age_group      1048575 non-null  object
 5   gender         1048575 non-null  object
 6   exposure       1048575 non-null  object
 7   case_status    1048575 non-null  object
 8   province       1048575 non-null  object
dtypes: int64(2), object(7)
memory usage: 72.0+ MB

In [44]:
df.isnull().sum()

ObjectId         0
row_id           0
date_reported    0
health_region    0
age_group        0
gender           0
exposure         0
case_status      0
province         0
dtype: int64

In [45]:
df=df.drop(columns='row_id')

In [46]:
df['exposure'].unique()

array(['Close Contact', 'Travel-Related', 'Not Reported', 'Outbreak'],
      dtype=object)

In [47]:
df.loc[df['exposure']=='Close Contact','exposure'] = 'CC'
df.loc[df['exposure']=='Travel-Related','exposure'] = 'TRAVEL'
df.loc[df['exposure']=='Outbreak','exposure'] = 'OB'
df.loc[df['exposure']=='Not Reported','exposure'] = 'NOT REPORTED'

In [48]:
df['case_status'].unique()

array(['Recovered', 'Deceased', 'Active', 'Not Reported'], dtype=object)

In [49]:
df['province'].unique()

array(['Ontario', 'British Columbia', 'Alberta', 'Quebec'], dtype=object)

In [50]:
df.drop(df[df.province != 'Ontario'].index, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533761 entries, 0 to 534760
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ObjectId       533761 non-null  int64
 1   date_reported  533761 non-null  object
 2   health_region  533761 non-null  object
 3   age_group      533761 non-null  object
 4   gender         533761 non-null  object
 5   exposure       533761 non-null  object
 6   case_status    533761 non-null  object
 7   province       533761 non-null  object
dtypes: int64(1), object(7)
memory usage: 36.7+ MB

In [51]:
df[df.duplicated(keep='first')]

Empty DataFrame
Columns: [ObjectId, date_reported, health_region, age_group, gender, exposure, case_status, province]
Index: []

In [52]:
df['date_reported'] =  pd.to_datetime(df['date_reported'], format='%Y/%m/%d %H:%M:%S')

In [53]:
df['date_reported'] = df['date_reported'].dt.tz_localize(None)
df['date_reported']

0        2020-03-23 12:00:00
1        2020-04-02 12:00:00
2        2020-03-25 12:00:00
3        2020-03-28 12:00:00
4        2020-03-30 12:00:00
                 ...
534756   2021-01-14 12:00:00
534757   2021-01-05 12:00:00
534758   2021-01-06 12:00:00
534759   2021-01-11 12:00:00
534760   2021-01-03 12:00:00
Name: date_reported, Length: 533761, dtype: datetime64[ns]

In [54]:
df['gender'].value_counts()

Male            265613
Female          263833
Not Reported      4315
Name: gender, dtype: int64

In [55]:
df['gender']=df['gender'].str.lower()

In [56]:
df['age_group'].value_counts()

20-29           113009
30-39            86866
<20              84985
40-49            76810
50-59            76025
60-69            47465
70-79            23704
80+              16269
Not Reported      8628
Name: age_group, dtype: int64

In [57]:
df['CreatedDate']=pd.datetime.now()
df['UpdatedDate']=pd.datetime.now()

C:\Users\ngphv\AppData\Local\Temp\ipykernel_16424\943213306.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['CreatedDate']=pd.datetime.now()
C:\Users\ngphv\AppData\Local\Temp\ipykernel_16424\943213306.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['UpdatedDate']=pd.datetime.now()

In [58]:
df.head()

,ObjectId,date_reported,health_region,age_group,gender,exposure,case_status,province,CreatedDate,UpdatedDate
0,1,2020-03-23 12:00:00,Peel Public Health,20-29,female,CC,Recovered,Ontario,2022-11-29 21:22:22.295241,2022-11-29 21:22:22.297244
1,2,2020-04-02 12:00:00,Peel Public Health,40-49,female,CC,Recovered,Ontario,2022-11-29 21:22:22.295241,2022-11-29 21:22:22.297244
2,3,2020-03-25 12:00:00,"Kingston, Frontenac and Lennox & Addington Pub...",30-39,male,CC,Recovered,Ontario,2022-11-29 21:22:22.295241,2022-11-29 21:22:22.297244
3,4,2020-03-28 12:00:00,"Kingston, Frontenac and Lennox & Addington Pub...",<20,female,CC,Recovered,Ontario,2022-11-29 21:22:22.295241,2022-11-29 21:22:22.297244
4,5,2020-03-30 12:00:00,Peel Public Health,50-59,male,CC,Recovered,Ontario,2022-11-29 21:22:22.295241,2022-11-29 21:22:22.297244

In [59]:
df.columns

Index(['ObjectId', 'date_reported', 'health_region', 'age_group', 'gender',
       'exposure', 'case_status', 'province', 'CreatedDate', 'UpdatedDate'],
      dtype='object')

In [60]:
df.columns=['ObjectId', 'DateReported', 'HealthRegion', 'AgeGroup',
       'Gender', 'Exposure', 'CaseStatus', 'Province','CreatedDate', 'UpdatedDate']
df.to_excel('CompileCovid19CaseDetailsCanada.xlsx',index=False)

Exception ignored in: <function ZipFile.__del__ at 0x000001BB4A4AE7A0>
Traceback (most recent call last):
  File "c:\Users\ngphv\AppData\Local\Programs\Python\Python310\lib\zipfile.py", line 1819, in __del__
    self.close()
  File "c:\Users\ngphv\AppData\Local\Programs\Python\Python310\lib\zipfile.py", line 1836, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file