In [10]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Datasource/ongoing_outbreaks_phu.csv')
df.head()

        date  phu_num     outbreak_group  number_ongoing_outbreaks
0  11/1/2020     2227  1 Congregate Care                         2
1  11/1/2020     2227        4 Workplace                         1
2  11/1/2020     2240        4 Workplace                         1
3  11/1/2020     2240     5 Recreational                         1
4  11/1/2020     2240    6 Other/Unknown                         1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56987 entries, 0 to 56986
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      56987 non-null  object
 1   phu_num                   56987 non-null  int64
 2   outbreak_group            56987 non-null  object
 3   number_ongoing_outbreaks  56987 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.7+ MB

In [4]:
df.isnull().sum()

date                        0
phu_num                     0
outbreak_group              0
number_ongoing_outbreaks    0
dtype: int64

In [12]:
df[df.duplicated(keep='first')]

Empty DataFrame
Columns: [date, phu_num, outbreak_group, number_ongoing_outbreaks]
Index: []

In [5]:
df['date'] =  pd.to_datetime(df['date'], format='%m/%d/%Y')
df['date']

0       2020-11-01
1       2020-11-01
2       2020-11-01
3       2020-11-01
4       2020-11-01
           ...
56982   2022-08-25
56983   2022-08-25
56984   2022-08-25
56985   2022-08-25
56986   2022-08-25
Name: date, Length: 56987, dtype: datetime64[ns]

In [6]:
df['outbreak_group'].unique()

array(['1 Congregate Care', '4 Workplace', '5 Recreational',
       '6 Other/Unknown', '3 Education', '2 Congregate Living'],
      dtype=object)

In [7]:
df['number_ongoing_outbreaks'].unique()

array([  2,   1,   5,  29,   7,   6,   3,   4,   9,  28,  67,  39,  19,
        17,  11,  14,  23,  27,  10,  68,  36,  21,  12,  66,  35,  18,
        16,  22,  13,  30,  31,  37,  20,  33,  69,  40,   8,  71,  43,
        25,  26,  15,  73,  41,  24,  72,  38,  42,  44,  46,  74,  47,
        76,  75,  49,  50,  32,  51,  52,  53,  80,  34,  83,  48,  82,
        55,  56,  57,  81,  58,  61,  54,  64,  60,  79,  78,  62,  45,
        65,  70,  85,  77,  63,  89,  90,  93,  98, 104, 106, 110, 111,
       108, 107, 102,  99, 100, 101,  59,  92,  87,  86,  84,  97,  96,
        95, 105, 118, 119, 114, 122, 123, 113, 109, 126, 137, 149, 159,
       169, 173, 181, 185, 191,  91, 192, 196, 124, 201, 132, 198, 131,
       121, 103, 200, 115, 184, 183, 179, 177, 172, 170, 157,  94, 153,
       146, 145,  88, 141, 136, 130], dtype=int64)

In [8]:
df.columns

Index(['date', 'phu_num', 'outbreak_group', 'number_ongoing_outbreaks'], dtype='object')

In [9]:
df.to_csv('OngoingOutbreaksPHU.csv',index=False,sep=';',date_format = '%m/%d/%Y')