In [1]:
import pandas as pd

In [20]:
#'vaccines_by_age_phu.csv'
vaccine = pd.read_csv('vaccines_by_age_phu.csv')
vaccine.head()

,Date,PHU ID,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative
0,7/26/2021,2226,12-17yrs,3843.0,1890.0,NaN,NaN
1,7/26/2021,2227,12-17yrs,6306.0,3567.0,NaN,NaN
2,7/26/2021,2230,12-17yrs,34025.0,16953.0,NaN,NaN
3,7/26/2021,2233,12-17yrs,5533.0,3627.0,NaN,NaN
4,7/26/2021,2234,12-17yrs,3125.0,1711.0,NaN,NaN

In [21]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171182 entries, 0 to 171181
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Date                          171182 non-null  object
 1   PHU ID                        171182 non-null  int64
 2   Agegroup                      171182 non-null  object
 3   At least one dose_cumulative  170971 non-null  float64
 4   Second_dose_cumulative        48642 non-null   float64
 5   fully_vaccinated_cumulative   121912 non-null  float64
 6   third_dose_cumulative         106015 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 9.1+ MB

In [22]:
vaccine.isnull().sum()

Date                                 0
PHU ID                               0
Agegroup                             0
At least one dose_cumulative       211
Second_dose_cumulative          122540
fully_vaccinated_cumulative      49270
third_dose_cumulative            65167
dtype: int64

In [23]:
vaccine['Agegroup'].unique()

array(['12-17yrs', '18-29yrs', '30-39yrs', '40-49yrs', '50-59yrs',
       '60-69yrs', '70-79yrs', '80+', 'Adults_18plus', 'Ontario_12plus',
       'Undisclosed_or_missing', '05-11yrs', 'Ontario_5plus'],
      dtype=object)

In [24]:
vaccine.loc[vaccine['Agegroup']=='05-11yrs','Agegroup'] = '05-11'
vaccine.loc[vaccine['Agegroup']=='12-17yrs','Agegroup'] = '12-17'
vaccine.loc[vaccine['Agegroup']=='18-29yrs','Agegroup'] = '18-29'
vaccine.loc[vaccine['Agegroup']=='30-39yrs','Agegroup'] = '30-39'
vaccine.loc[vaccine['Agegroup']=='40-49yrs','Agegroup'] = '40-49'
vaccine.loc[vaccine['Agegroup']=='50-59yrs','Agegroup'] = '50-59'
vaccine.loc[vaccine['Agegroup']=='60-69yrs','Agegroup'] = '60-69'
vaccine.loc[vaccine['Agegroup']=='70-79yrs','Agegroup'] = '70-79'
vaccine.loc[vaccine['Agegroup']=='Undisclosed_or_missing','Agegroup'] = 'Not Reported'

In [25]:
vaccine=vaccine.fillna(0)

In [26]:
vaccine[vaccine['fully_vaccinated_cumulative']>0]['Second_dose_cumulative'].unique()

array([0.])

In [27]:
vaccine[vaccine['Second_dose_cumulative']>0]['fully_vaccinated_cumulative'].unique()

array([0.])

In [28]:
vaccine[(vaccine['Second_dose_cumulative'] ==0) & (vaccine['fully_vaccinated_cumulative']==0)
                                & (vaccine['At least one dose_cumulative']==0) & (vaccine['third_dose_cumulative']==0)]

,Date,PHU ID,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative
47309,11/25/2021,2226,Not Reported,0.0,0.0,0.0,0.0
47310,11/25/2021,2227,Not Reported,0.0,0.0,0.0,0.0
47311,11/25/2021,2230,Not Reported,0.0,0.0,0.0,0.0
47312,11/25/2021,2233,Not Reported,0.0,0.0,0.0,0.0
47313,11/25/2021,2234,Not Reported,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
49265,11/30/2021,3895,Not Reported,0.0,0.0,0.0,0.0
49266,11/30/2021,4913,Not Reported,0.0,0.0,0.0,0.0
49267,11/30/2021,5183,Not Reported,0.0,0.0,0.0,0.0
49268,11/30/2021,9999,Not Reported,0.0,0.0,0.0,0.0
49722,12/1/2021,9999,Not Reported,0.0,0.0,0.0,0.0

In [29]:
vaccine=vaccine.drop(vaccine[(vaccine['Second_dose_cumulative'] ==0) & (vaccine['fully_vaccinated_cumulative']==0)
                                & (vaccine['At least one dose_cumulative']==0) & (vaccine['third_dose_cumulative']==0)].index)

In [30]:
vaccine[vaccine['PHU ID'] == 9999]

,Date,PHU ID,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative
34,7/26/2021,9999,12-17,207.0,20.0,0.0,0.0
69,7/26/2021,9999,18-29,1313.0,135.0,0.0,0.0
104,7/26/2021,9999,30-39,932.0,138.0,0.0,0.0
139,7/26/2021,9999,40-49,507.0,97.0,0.0,0.0
174,7/26/2021,9999,50-59,495.0,113.0,0.0,0.0
...,...,...,...,...,...,...,...
171041,8/25/2022,9999,80+,218.0,0.0,185.0,29.0
171076,8/25/2022,9999,Adults_18plus,35068.0,0.0,23845.0,2303.0
171111,8/25/2022,9999,Ontario_12plus,36351.0,0.0,24578.0,2331.0
171146,8/25/2022,9999,Ontario_5plus,36414.0,0.0,24638.0,2331.0
171181,8/25/2022,9999,Not Reported,100.0,0.0,54.0,6.0

In [13]:
df=pd.read_excel('PublicHealthUnit.xlsx')
df.head()

,PHUID,ReportingPHU,ReportingPHUAddress,ReportingPHUCity,ReportingPHUPostalCode,ReportingPHUWebsite,ReportingPHULatitude,ReportingPHULongitude,CreatedDate,UpdatedDate
0,2244,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,42.981468,-81.254016,2022-11-23 11:32:31.688,2022-11-23 11:32:31.690
1,2236,Halton Region Health Department,1151 Bronte Road,Oakville,L6M 3Ll,www.halton.ca/For-Residents/Public-Health/,43.413997,-79.744796,2022-11-23 11:32:31.688,2022-11-23 11:32:31.690
2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358,2022-11-23 11:32:31.688,2022-11-23 11:32:31.690
3,5183,Huron Perth District Health Unit,653 West Gore Street,Stratford,N5A 1L4,www.hpph.ca,43.368662,-81.001913,2022-11-23 11:32:31.688,2022-11-23 11:32:31.690
4,2266,Wellington-Dufferin-Guelph Public Health,160 Chancellors Way,Guelph,N1G 0E1,www.wdgpublichealth.ca,43.524881,-80.233743,2022-11-23 11:32:31.688,2022-11-23 11:32:31.690

In [15]:
df.loc[df['PHUID'] == 9999]

Empty DataFrame
Columns: [PHUID, ReportingPHU, ReportingPHUAddress, ReportingPHUCity, ReportingPHUPostalCode, ReportingPHUWebsite, ReportingPHULatitude, ReportingPHULongitude, CreatedDate, UpdatedDate]
Index: []

In [32]:
vaccine.drop(vaccine[vaccine['PHU ID'] == 9999].index, inplace=True)

In [33]:
vaccine.loc[vaccine['PHU ID'] == 9999]

Empty DataFrame
Columns: [Date, PHU ID, Agegroup, At least one dose_cumulative, Second_dose_cumulative, fully_vaccinated_cumulative, third_dose_cumulative]
Index: []

In [34]:
vaccine['CreatedDate']=pd.datetime.now()
vaccine['UpdatedDate']=pd.datetime.now()
vaccine['Date'] =  pd.to_datetime(vaccine['Date'], format='%m/%d/%Y')
vaccine

C:\Users\ngphv\AppData\Local\Temp\ipykernel_14320\859321333.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  vaccine['CreatedDate']=pd.datetime.now()
C:\Users\ngphv\AppData\Local\Temp\ipykernel_14320\859321333.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  vaccine['UpdatedDate']=pd.datetime.now()

,Date,PHU ID,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative,CreatedDate,UpdatedDate
0,2021-07-26,2226,12-17,3843.0,1890.0,0.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
1,2021-07-26,2227,12-17,6306.0,3567.0,0.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
2,2021-07-26,2230,12-17,34025.0,16953.0,0.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
3,2021-07-26,2233,12-17,5533.0,3627.0,0.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
4,2021-07-26,2234,12-17,3125.0,1711.0,0.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
...,...,...,...,...,...,...,...,...,...
171176,2022-08-25,2268,Not Reported,312.0,0.0,18.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
171177,2022-08-25,2270,Not Reported,1856.0,0.0,40.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
171178,2022-08-25,3895,Not Reported,7393.0,0.0,216.0,14.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
171179,2022-08-25,4913,Not Reported,200.0,0.0,2.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797
171180,2022-08-25,5183,Not Reported,250.0,0.0,2.0,0.0,2022-11-30 22:41:48.476798,2022-11-30 22:41:48.477797

In [35]:
vaccine.columns

Index(['Date', 'PHU ID', 'Agegroup', 'At least one dose_cumulative',
       'Second_dose_cumulative', 'fully_vaccinated_cumulative',
       'third_dose_cumulative', 'CreatedDate', 'UpdatedDate'],
      dtype='object')

In [36]:
vaccine.columns=['Date', 'PHUID', 'AgeGroup', 'At_least_one_dose_cumulative',
       'Second_dose_cumulative', 'fully_vaccinated_cumulative',
       'third_dose_cumulative', 'CreatedDate', 'UpdatedDate']
vaccine.to_excel('VaccinesByAgePHU1.xlsx',index=False)

In [37]:
df1=pd.read_excel('VaccinesByAgePHU1.xlsx')

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166113 entries, 0 to 166112
Data columns (total 9 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Date                          166113 non-null  datetime64[ns]
 1   PHUID                         166113 non-null  int64
 2   AgeGroup                      166113 non-null  object
 3   At_least_one_dose_cumulative  166113 non-null  int64
 4   Second_dose_cumulative        166113 non-null  int64
 5   fully_vaccinated_cumulative   166113 non-null  int64
 6   third_dose_cumulative         166113 non-null  int64
 7   CreatedDate                   166113 non-null  datetime64[ns]
 8   UpdatedDate                   166113 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(5), object(1)
memory usage: 11.4+ MB